<div *ngFor="let row of gameGrid.board">
  <div class="row">
    <div *ngFor="let col of row">
      <div class="tile">
        <!-- {{col.x}}, {{col.y}} -->
        <div class="test" [ngStyle]="renderSprite(col)" >
        </div>
      </div>
    </div>
  </div>
</div>
<h4 style="text-align: center">Step Count: {{this.gameGrid.counter}}</h4>

<app-modal [(visible)]="showDialog">
  <h1>Get back to studying!</h1>
  <button (click)="showDialog = !showDialog" class="btn">Replay</button>
</app-modal>
