.container {
  /*background-image: url('../assets/image/carpet.jpg');*/
  /*background-size: 200px 200px;*/
  background-color: #00b3b4;
  max-width: 1010px;
  border: 5px solid #404040;
  margin-top: 10px;
}
