<div class="jumbotron jumbotron-fluid">
  <h1>Welcome to Cashmere</h1>
</div>

<div class="container">
  <div class="card border-info mb-3">
    <div class="card-header" id="aboutEpicodus">
      About Epicodus
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>Epicodus is the most affordable full-time, in-person code school, and one of the few programs that includes an internship with a tech company as well as job search support.  Students graduate with real-life work experience already on their resumes, a dedicated team to help land their first job, and a close community of peers and instructors supporting them along the way.</p>
      </blockquote>
    </div>
  </div>
  <br>
  <div class="card border-info mb-3">
    <div class="card-header" id="howtoplay">
      How to Play
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>Try to catch a cuddle with Cashmere during study time. But don't get caught! Use the arrow keys to move through the maze.</p>
      </blockquote>
    </div>
  </div>
  <br>
<div class="characters">
<h1>Characters</h1>
</div>
  <div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="../assets/image/cashmere2.JPG" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Cashmere</h5>
      <p class="card-text">The star.</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="../assets/image/mindy2.JPG" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Mindy</h5>
      <p class="card-text">The best friend.</p>

    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="../assets/image/john2.JPG" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">John</h5>
      <p class="card-text">The villian.</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="../assets/image/epicodus2.JPG
    " alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Student</h5>
      <p class="card-text">The player.</p>
    </div>
  </div>
</div>
</div>
