<div class="jumbotron jumbotron-fluid">
  <h1>Welcome to Cashmere</h1>
  <hr width=50%>
  <p id="jumbotronParagraph">An Epicodus Angular Team Week Project</p>
  <p>Created By: Jamie Pittak, Panatda Inthala, Eric Swotinsky, Nanette Girzi, Tyler Kostelak, Dillon Titcomb</p>
</div>

<div class="container">
  <div class="card border-info mb-3">
    <div class="card-header" id="aboutEpicodus">
      About Epicodus
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>Epicodus is the most affordable full-time, in-person code school, and one of the few programs that includes an internship with a tech company as well as job search support.  Students graduate with real-life work experience already on their resumes, a dedicated team to help land their first job, and a close community of peers and instructors supporting them along the way.</p>
      </blockquote>
    </div>
  </div>
  <br>
  <div class="card border-info mb-3">
    <div class="card-header" id="howtoplay">
      How to Play
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>Try to catch a cuddle with Cashmere during study time. But don't get caught!</p>
      </blockquote>
    </div>
  </div>
  <br>
  <div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Cashmere</h5>
      <p class="card-text">Some text here.</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="image1/.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Mindy</h5>
      <p class="card-text">Some text here.</p>

    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">John</h5>
      <p class="card-text">Some text here.</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Student</h5>
      <p class="card-text">Some text here.</p>
    </div>
  </div>
</div>
</div>
