<div class="jumbotron jumbotron-fluid">
  <h1>Welcome to Cashmere</h1>
  <hr width=50%>
  <p id="jumbotronParagraph">Try to catch a cuddle with Cashmere during study time. But don't get caught!</p>
</div>

<div class="container">
  <div class="card border-info mb-3">
    <div class="card-header" id="aboutEpicodus">
      About the Game
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>User will play as a student at a bootcamp that wants to take a break to pet the school mascot, the amazing scottish fold Cashmere. You as the student must escape the teachers wrath and make it to Cashmere before you are caught. If you successfully make it to Cashmere you can graduate early! :)
        </p>
      </blockquote>
    </div>
  </div>
  <div class="card border-info mb-3">
    <div class="card-header" id="howtoplay">
      How to Play
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>Log In or Create New User. Use the arrow keys<img id="arrowkeys" src="../assets/image/arrowkeys.png"> to move through the maze.</p>
      </blockquote>
    </div>
  </div>
  <br>
  <div class="characters">
    <h1>Characters</h1>
  </div>
  <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="../assets/image/cashmere2.JPG" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Cashmere</h5>
        <p class="card-text">The star.</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../assets/image/mindy2.JPG" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Mindy</h5>
        <p class="card-text">The best friend.</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../assets/image/john2.JPG" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">John</h5>
        <p class="card-text">The villian.</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../assets/image/epicodus2.JPG
      " alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Student</h5>
        <p class="card-text">The player.</p>
      </div>
    </div>
  </div>
  <br>
</div>
