
<div class="container">
  <div class="profileContainer">
    <h1 id="profileText">{{ profileName }}</h1>
    <li *ngFor="let score of userScore | async">{{ userScore.$value}}</li> 
    <img src="{{ profilePic }}" id="profilePic" alt="">
    <br>
    <button (click)="clickedEdit()" class="btn btn-info">Edit Profile</button>
    <br>
    <form *ngIf="edit" #profileForm="ngForm">
      <hr>
      <h1 class="profile-title" id="profileText">Update Profile</h1>
      <div class="form-group">
        <label id="profileNameText">Profile Name</label>
        <input class="form-control" #profileNameControl="ngModel" [(ngModel)]="displayName" name="profileName" maxlength="15">
      </div>
      <div class="form-group">
        <label id="profileUrlText">Profile Picture</label>
        <input class="form-control" #profilePictureControl="ngModel" placeholder="insert image URL" [(ngModel)]="photoURL" name="profilePicture">
      </div>
      <button type="submit" class="btn btn-info" a href="profile"
        (click)="updateProfile()">Update Profile
      </button>
  </form>
  </div>
</div>
