
<div class="container">
  <div class="profileContainer">
    <div class="row">
      <div class="col-md-6">
        <h1 id="profileText">{{ profileName }}</h1>
        <h3 id="highscoreText">High Score:</h3>
        <img src="{{ profilePic }}" id="profilePic" alt="">

        <br>
        <button (click)="clickedEdit()" class="btn btn-info">Edit Profile</button>
      </div>

      <div class="col-md-6">
        <a href="https://www.epicodus.com/">
        <img id="img" src="../assets/image/add.jpeg" alt="epicodus add">
      </a>
      <br>
      <br>
      <h5 id="epicodusText">This application was created by Epicodus Web Development students. Click the picture above to learn more about Web Development program at Epicodus.</h5>
      </div>
    </div>
    <br>
    <form *ngIf="edit" #profileForm="ngForm">
      <hr>
      <h1 class="profile-title" id="profileText">Update Profile</h1>
      <div class="form-group">
        <label id="profileNameText">Profile Name</label>
        <input class="form-control" #profileNameControl="ngModel" [(ngModel)]="displayName" name="profileName" maxlength="15">
      </div>
      <div class="form-group">
        <label id="profileUrlText">Profile Picture</label>
        <input class="form-control" #profilePictureControl="ngModel" placeholder="insert image URL" [(ngModel)]="photoURL" name="profilePicture">
      </div>
      <button type="submit" class="btn btn-info" a href="profile"
      (click)="updateProfile()">Update Profile
    </button>
  </form>
</div>
</div>
